/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */


/* GENERAL CSS */
p{
  font-size: larger;
}
u {
    text-decoration-color: rgb(155, 44, 155);
  }

/* Navbar Section*/


.nav-link {
    text-align: center;
  }
  .nav-link:hover {
    color: rgb(155, 44, 155) !important;
  }
  
  .github:hover {
    background-color: rgb(155, 44, 155) !important;
    border-radius: 50%;
  }
  
  .netlify:hover {
    background-color: rgba(184, 6, 255, 0.22) !important;
    border-radius: 50%;
  }
  .navbar {
    top: 0;
  }
  
  .navbar-brand {
    border-radius: 100%;
    height: 100px;
    width: 60x;
    padding-bottom: 4px !important;
    padding-top: 3px !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
  }
  .navbar-toggler{


  }
  
  .one {
    display: grid;
    margin-top: 20px;
    padding-top: 100px;
    overflow-x: hidden !important;
  }
  
   .num-one {
    height: 100vh;
    margin-top: 0;
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(./background.jpg);
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: 70%;
  }
  .btn{
    background-color:rgb(155, 44, 155)!important;
    color: white;
    border: 2px solid rgb(39, 3, 39);
    
  }
  
    /* BACKGROUND COLOR */
    hr {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: black;
    }
    /* icons */
    .icons {
      height: 40px;
      width: 40px;
      line-height: 2;
      border-radius: 100% !important;
    }

    .icons:hover {
      color:rgb(155, 44, 155) !important;
    }

    
    
    .social-icon{
font-size: 35px !important;
color: rgb(155, 44, 155);
    }

    .social-icon:hover{
        color: white;
    }

    


/*     
    .arrow {
      height: 40px;
      width: 40px;
    } */
  
  
    .subtitlee {
      padding-top: 100px;
      color: rgb(192, 175, 211);
    }
    
    .image-col {
      height: 300px;
      width: 300px;
      border-radius: 50%;
    }

    /* projects */

    
    .profile2 {
      height: auto;
      width: 250px;
      border-radius: 100%;
      float: left;
    }
    
  .p-bar,
    .p-inner {
      border-radius: 15px;
    }
    
    .p-inner {

      background-color: orange;
    }

  /* CARD */
  .card {
      width: 50%;
      height: 400px;

    }
    
    .card-body {
      overflow: auto;
      background-color: black ;
      text-align: center;

    }
      .card-img-top {
      height: 150px;
      width: 100%;

    }

    /* TESTIMONIALS */
    .card-img-top {
        height: 150px;
        width: 100%;

      }

      .text-content{
        padding-left: 20%;
        padding-right: 20%;
      }

      /* Resume */

    .education-work{
      margin-top: 0;
      background-image: url("/background3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(./background3.jpg);
      overflow-x: hidden;
      background-position: center;
    }

    #skills{
      margin-top: 0;
      background-image: url("/background4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(./background4.jpg);
      overflow-x: hidden;
      background-position: center;
    }

    .projects{
      margin-top: 0;
      background-image: url("/background5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(./background5.jpg);
      overflow-x: hidden;
      background-position: center;
 }

 .testimonial-background{
  margin-top: 0;
  background-image: url("/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./background2.jpg);
  overflow-x: hidden;
  background-position: center;
 }

 .contact-background{
  margin-top: 0;
  background-image: url("/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./background6.jpg);
  overflow-x: hidden;
  background-position: center;
 }



      

    @media all and (max-width: 991px) {
    .resu {
      width: 100%;

      border-radius: 15px;
  
    }


    .proji {
      margin-left: 0px !important;
    }
    .testi {
      margin-left: 0px !important;
    }
  }
  .resu {
    width: 100%;
    /* background-color: #d4d9df; */
    border-radius: 15px;
    /* border: 1px solid #fff; */
    box-shadow: rgba(255, 255, 255, 1) 0px 5px 15px;
  }
  
  @media all and (max-width: 767px) {
    .resu {
      width: 100%;
      
      border-radius: 15px;
    }
    .main-title{
      font-size: 100px;
    }

    .text-content{
      padding-left: 10%;
      padding-right: 10%;
    }
   .nav-link {
      text-align: end;
      /* display: inline-block !important; */
      padding: 0px;
      margin: 3px;
    }
    .navbar-brand {
      border-radius: 100%;
      height: 70px;
      width: 40x;
      padding-bottom: 4px !important;
      padding-top: 3px !important;
      margin-top: 0px !important;
      margin-bottom: 3px !important;
    }
    .subtitlee {
      padding-top: 80px;
    }
  
    .image-col {
      height: 200px;
      width: 200px;
      border-radius: 100%;
    }
  
    .profile2 {
      height: auto;
      width: 180px;
      border-radius: 100%;
    }
  
    .card {
      width: 50%;
    }
  
    .card-image {
      display: block;
      max-width: 100%;
      height: 200px;
    }
    .proji {
      margin-left: 0px !important;
    }
    .testi {
      margin-left: 0px !important;
    }
  }
  
  @media all and (max-width: 600px) {
    .resu {
      width: 90%;
      border-radius: 15px;
    }

    .home-content{
      margin-top: 0%;
      margin-bottom: 18%;
      }
    .main-title{
      font-size: 80px;
      margin-top: 0px !important;
    }
    .text-content{
      padding-left: 5%;
      padding-right: 5%;
    }
    .profile2 {
      height: auto;
      width: 150px;
      border-radius: 100%;
      float: none;
      display: inline-block;
    }
  
    .abountcont {
      text-align: center;
    }
    .button-about {
      color:rgb(155, 44, 155);
    }


    /* .testimonial-background{
      height: 100;
    } */
  
    .navbar-brand {
      border-radius: 100%;
      height: 50px;
      width: 30x;
      padding-bottom: 4px !important;
      padding-top: 3px !important;
      margin-top: 0px !important;
      margin-bottom: 3px !important;
    }
    .subtitlee {
      padding-top: 56px;
    }
    .proji {
      margin-left: 0px !important;
    }
    .testi {
      margin-left: 0px !important;
    }
  }
  /* @media (min-width: 576px){
  .col-sm-12 {
      flex: none !important
      ;
      width: 100%;
  }
  } */
  @media (min-width: 992px) {
    .col-lg-10 {
      flex: 0 0 auto;
      width: 100%;
    }
  
  }



  /* Animation */
  .abt {
    background: linear-gradient(to right, #ffffff 0, rgb(255, 255, 255) 10%, #d496e7 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
    animation-fill-mode: forwards;
    color: white !important;
  }
  

  
  @keyframes shine {
    0% {
      background-position: 180px;
    }
  
    25% {
      background-position: 0;
    }
  
    50% {
      background-position: 180px;
    }
    75% {
      background-position: 0;
    }
    100% {
      background-position: 180px;
    }
  }